# Python Basics Questions

1. What is Python, and why is it popular?

  A :- Python is a popular programming language beacuse it's versatile and easy to learn for beginers.It can be used for so many tasks such as,web development, data science and much more.

2. What is an interpreter in Python?

   A :- A Python interpreter is a computer programme that translates Python code into machine code that a computer can understand.

3. What are pre-defined keywords in Python?

   A :-Print, and, or, true, flase, list, break, continue etc.

4. Can keywords be used as variable names?

   A :- No, keywors cannot be used as variable names beacuse keywords are reserved word that have a special meaning in the Python.

5. What is mutability in Python?

   A :- In Python mutability is we can change the object after is created.

6. Why are lists mutable, but tuples are immutable ?

  A :- Lists are mutable beacuse they can be change after creation but for tuples their contents cannot be modified once created.

7. What is the difference between “==” and “is” operators in Python?

  A :- The "==" operator is used to compare the equality of object.
       The "use"operator is used to check if different variables are pointing to the same object memory'

       e.g-i =(1, 2, 3)
           j =(1, 2, 3)

       print (i==j) true
       prnt (i is j)flase

8.   What are logical operators in Python?

     A :-In Python logical operators are used to combine multiple conditions together.There are theree type of logical operrators in python and,or,not.

9.   What is type casting in Python?

     A :-Type casting is the process of converting value from one data type to another.

10.  What is the difference between implicit and explicit type casting?

     A ❎

11.  What is the purpose of conditional statements in Python?

     A :-They allow you to make decisioon based on the value of variables or the result of comparisons.

12.  How does the elif statement work?
     
     A :-In Python elif is short from of "else if" and is used when the first if statment isn't true,but you want to check for another condition.

13.  What is the difference between for and while loops ?

     A :-Python offers two primary types of loops, for loops and while loops.
“for” loops are used for iterating over a sequence of elements, while “while” loops are used for executing code until a specified condition becomes False.

14. Describe a scenario where a while loop is more suitable than a for loop.

     A :-Use a for loop when you know the loop should execute n times. Use a while loop for reading a file into a variable.

In [ ]:
#Write a Python program to print "Hello, World!_
print("hello world")
print

hello world

In [ ]:
#Write a Python program that displays your name and age
name =("Payel")
name

'Payel'

In [ ]:
age = 31
age

31

In [ ]:
#Write code to print all the pre-defined keywords in Python using the keyword
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#Write a program that checks if a given word is a Python keyword
import keyword
keyword.iskeyword('while')

True

In [ ]:
import keyword
keyword.iskeyword('hello')

False

In [ ]:
# Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
list_cont=["Payel",31,14.50,"pwskills"]
print(list_cont)

['Payel', 31, 14.5, 'pwskills']

In [ ]:
my_tuple =("payel,31,14,50,pwskills")
print(my_tuple)

payel,31,14,50,pwskills

In [ ]:
list_cont[0]

'Payel'

In [ ]:
list_cont[0] = "education"

In [ ]:
list_cont

['education', 31, 14.5, 'pwskills']

In [ ]:
# in tuple we cannot change data
my_tuple(0) = "education"

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-48-5cc38abec866>, line 1)

In [ ]:
#Write a function to demonstrate the behavior of mutable and immutable arguments0
food = ['apple','milk','jam']
food.append('bread')
print(food)

['apple', 'milk', 'jam', 'bread']

In [4]:
#Write a program to demonstrate the use of logical operators
age = 15
income = 20000
if age >=18 or income >=15000:
  print("eligible for the lone")
else:
    print("not eligible")

eligible for the lone

In [17]:
#not operators
a = True
b = False
if not a:
  print("my name is a")
if not b:
  print("my name is b")

my name is b

In [19]:
#Write a Python program to convert user input from string to integer, float, and boolean types
s = 24
print(s)
type(s)

24

int

In [23]:
b = 2.0
print(b)
type(b)

2.0

float

In [31]:
s = "False"
bool(s)

True

In [32]:
bool('')

False

In [34]:
#Write code to demonstrate type casting with list elements
a = ["1", "2", "3", "4", "5",]
list(map(int,a))

[1, 2, 3, 4, 5]

In [44]:
#Write a program that checks if a number is positive, negative, or zero
num = ["payel", 123, True, 2.0]
num[0]

'payel'

In [45]:
num[2]

True

In [46]:
num[-1]

2.0

In [47]:
#Write a for loop to print numbers from 1 to 10
i = (1,10)
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [52]:
#Write a Python program to find the sum of all even numbers between 1 and 500
for i in range(1,50):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [57]:
a = ("Payel")
while len(a) > 0:
  print(a[-1])
  a = a[:-1]

l
e
y
a
P

In [58]:
#Write a Python program to calculate the factorial of a number provided by the user using a while loop
num = int(input("35:"))
fact = 1
while(num>0):
  fact = fact*num
  num = num-1
print("factorial number is:",fact)

35:6
factorial number is: 720